
*{
    padding: 0; margin: 0;
}

a{ 
    color: black;
    text-decoration: none;
}
    
body{
    background-color: #F5F6F7;
}

#wrap{width: 350px; margin: 0 auto;}


#headerLogo{text-align: center; margin: 50px;}
#headerLogo img{
        height: 35px;  /* 로그사이즈 */
}

.inputBox{
    background-color: white;
    border: 1px solid #dedede;
    padding: 10px;
    display: flex; flex-wrap: nowrap;
    align-items: center;
}

.inputBox input , select {
    border: none;
    background-color: white;
    height: 30px; width: 100%;
}

.inputBox span{
color: #aaa;
}

*:focus{
    outline: none;
}

h5{margin: 20px 0px 5px 0px;}

#pwIcon{
    width: 25px; height: 25px;
    background-image: url(https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png);
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 120px 75px;

}

#pwConfirmIcon{
    width: 25px; height: 25px;
    background-image: url(https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png);
    background-position-x: -78px;
    background-position-y: 0px;
    background-size: 120px 75px;
}

#birthBox{
    display: flex;

}


.birthY , .birthM , .birthD{
    width: 80px;
}

.titleAt{
    font-size: 10px; color: #aeaeae;
}

#phoneBox{
    display: flex;
    justify-content: space-between;
}

#phoneBox{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

#phoneBox > input{
    background-color: #03C75A;
    border: none; color: white;
    font-weight: bold;
    width: 100px;

}

#phoneBox > div{
    width: 250px;

}

#inputAuth , #inputAuth > input{
    background-color: #f5f6f7;
}

#signupBtn{
    background-color: #03C75A;
    border: none;
    width: 100%;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin: 20px 20px; 
}

.phone1{
    margin-right: 10px;
}

/* 푸터  */
#footerBox{ text-align: center; margin-bottom: 50px;}
#ftTop{ font-size: 8px; color: #aeaeae; }
#ftBottom img{ height: 10px; }
#ftBottom span{  font-size: 5px;}