

*{
    
}
li{list-style: none;}

#wrap{ width: 700px; margin: 10px auto;}

#header > img{width: 100%;}

#header > ul{
    display: flex;
    justify-content: space-around;
    margin: 10px 10px;
}

#header > ul > .selectMenu{
    border-bottom: 2px solid red;
    padding-bottom: 5px;
    color: red; font-weight: bold;
}

#productBox{
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    overflow-y: scroll;
}

#productBox > .product{
    width: 205px;
    margin: 10px 10px;
}

#productBox > .product > img{width: 100%;}

#productBox > .product > .pinfo{ text-align: center;}
#productBox > .product > .pname{ font-weight: bold;}
#productBox > .product > .pprice{ color: red;}

/*카트버튼들*/
#cartBtns{display: flex;}
#cartBtns > input{
    width: 100%; height: 50px;
    font-size: 20px; border:none;
    color: white; font-weight: bold;
}

#cartBtns > input:nth-child(1){background-color: black;}
#cartBtns > input:nth-child(2){background-color: red;}


#cartContent{
    background-color: #e8e8e8;
}

#cartTop{
    display: flex;justify-content: space-between;
    padding: 10px 50px;
}

#cartBottom{
    display: flex; overflow-x: scroll;
    flex-wrap: nowrap;
}
#cartBottom > .citem{
    min-width: 150px;
    background-color: white;
    margin: 10px; padding: 10px;
    position: relative;

}

#carBottom > .citem > div:nth-child(1) {width: 130px;height: 70px ;}
#carBottom > .citem > div:nth-child(2) {color: red;}

#cartTop > div:nth-child(1) span{
    background-color: red;
    border-radius: 30px;
    display: inline-block;
    padding: 3px; width: 30px;
    text-align: center; color: white;
}

#cartTop > div:nth-child(2) span{color:red; font-weight: bold;}