
#mainLogo{
   text-align: center; margin: 25px;
}

.logo{
    width: 100px;
    
    
}


.m1{
    width: 400px;
    border: solid 1px; color: #8e8e8e;
    padding: 30px;
    margin: 0 auto;
    
}

#input0{
    width: 100%;
    border: none;
    border-bottom: solid 1px;
    color: #8e8e8e;
    padding: 10px;

}
    
#input1{
    width: 100%;
    border: none;
    border-bottom: solid 1px ;
    color: #8e8e8e;
    padding: 10px;

}

.sp1{
    font-size: 13px;

}

#input3{
    background-color: #FEE500;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 10px;

}

#input4{
   
    width: 100%;
    border: none; 
    border-radius: 4px;
    padding: 10px;

}

.h61{
    font-size: 13px;
    text-align: right;
    padding: 20px;
    color: black;
    
}

.h62{
    font-size: 13px;
    text-align: center;
    padding: 10px
}

.h63{
    font-size: 13px;
    text-align: center;
    padding: 10px
}

.sp2{
    font-weight: bold;
}

